.order__list {
  width: 100%;
}

.order__list__title {
  font-family: 'Jetbrains-bold', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding-top: 60px;
  padding-bottom: 24px;
}

.order__list__list {
  height: 312px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.order__list__item {
  
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  align-items: center;
}

.order__list__itemname {
  padding: 8px 0;
  font-family: 'Jetbrains-bold', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.order__list__list::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 8px;
}

.order__list__list::-webkit-scrollbar-track {
  background-color: #2F2F37;
  
}

.order__list__list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 194px;
  background-color: #8585AD
}

.order__list__list::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0
}

.order__list__list::-webkit-scrollbar {
  width: 8px;
  height: 312px
}

.order__list__details {
  font-family: 'Iceland', 'Arial', 'Helvetica', sans-serif;
  font-size: 28px;
  line-height: 24px;
  color: #f2f2f3;
  padding-right: 9px;
}

.order__list__item div {
  display: flex;
  align-items: center;
}

.order__ingredient__img {

border: 2px solid #5d3ade;
background: #131316;
border-radius: 50%;
  height: 64px;
  width: 64px;
  object-fit: cover;
  overflow: hidden;
  display: block;
}