.constructor__list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 16px;
}

.constructor__list_item:last-of-type {
  margin-bottom: 0;
}



.constructor__list_item > span[class="constructor-element__text"] {
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.constructor-element__text {
  height: 80px;
}

.onHover {
  padding-bottom: 40px
}

.topHover {
  padding-bottom: 0px;
  padding-top: 40px
}

