.ingredients__section {
  max-width: 600px;
}

.ingredients__list::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 8px;
}

.ingredients__list::-webkit-scrollbar-track {
  background-color: #2F2F37;

}

.ingredients__list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 492px;
  background-color: #8585AD
}

.ingredients__list::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0
}

.ingredients__list::-webkit-scrollbar {
  width: 8px;
  height: 664px
}

.ingredients__title {
  font-size: 36px;
  line-height: 40px;
  font-family: 'Jetbrains-bold', 'Arial', sans-serif;
  padding: 40px 0 20px;
}

.ingredients__section + div[class="^tab"] {
width: 200px
}