.window {
  max-width: 480px;
  margin: 180px auto
}

form {
  display: grid;
  grid-row-gap: 24px;
    /* grid-template-columns: repeat(auto-fit,480px);
    grid-template-rows: repeat(auto-fit,minmax(60px,1fr)) */
}

.window__title {
  text-align: center;
  color: #F2F2F3;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 24px;
  font-family: 'Jetbrains-bold', 'Arial', sans-serif;
}

.window__btn {
  width: 100%;
  text-align: center;
}

.window__suptext {
  padding-top: 80px;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  font-family: 'Jetbrains', 'Arial', sans-serif;
  color: #8585AD;
}

.window__suptextlink {
  color: #4C4CFF;
  text-decoration: none;
}

.window__subtext {
  padding-top: 8px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Jetbrains', 'Arial', sans-serif;
  text-align: center;
  color: #8585AD;
}

.window__subtextlink {
  color: #4C4CFF;
  text-decoration: none;
}

.input_size_default {
  width: 480px
}

:global(.input__container) {
  width: 100%
}

:global(.input_size_default) {
  width: 480px
}

:global(.input__container > *) {
  width: 480px
}