.currency__info {
  display: flex;
  margin: 0 auto;
  font-family: 'Iceland', 'Helvetica', sans-serif;
  font-size: 28px;
  line-height: 24px;
  width: 61px;
  justify-content: space-between;
  align-items: center;
}

.sous_item {
  list-style: none;
  cursor: pointer;
}

.sous__card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sous__info {
  text-align: center;
}

.currency__icon {
  margin-left: 9px;
}

.sous__counter {
  position: absolute;
  right: 8px;
  top: 0;
}