.account {
  width: 480px;
}

.account > div:not(:first-of-type) {
  margin-top: 24px;
}

.cancel__link {
  padding-right: 28px;
  display: inline-block;
  color: #4C4CFF;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Jetbrains', 'Arial', sans-serif;
}

.account__links {
  width: 100%;
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}