


.order__item {
  width: 100%;
  display: flex;
  background: #1C1C21;
  border-radius: 40px;
  padding: 24px;
  margin-bottom: 24px;
  flex-direction: column;
}


.order__iddate {
  display: flex;
  justify-content: space-between;
}

.order__id {
font-family: 'Iceland', 'Arial', 'Helvetica', sans-serif;
font-size: 28px;
line-height: 24px;
color: #f2f2f3;
}

.order__date {
  font-family: 'Jetbrains', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8585AD
}

.order__title {
  font-family: 'Jetbrains-bold', 'Arial', 'Helvetica', sans-serif;
  padding-top: 24px;
  font-size: 24px;
  line-height: 30px;
  color: #f2f2f3
}

.order__status {
  font-family: 'Jetbrains', 'Arial', 'Helvetica', sans-serif;
  padding-top: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3
}

.order__status_done {
  composes: order__status;
  color: #00CCCC;
}

.order__status_canceled {
  composes: order__status;
  color: red;
}

.order__details {
  padding-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order__details > ul {
  
  display: flex;
  max-width: 305px;
  list-style: none;
  -webkit-transform: rotate(180deg) translate(-20px,0);
  -ms-transform: rotate(180deg) translate(-20px,0); 
  transform: rotate(180deg) translate(-20px,0);
}

.order__details li {
  display: block;
  width: 45px;
}

.order__ingredient__img {

  border: 2px solid #5d3ade;

background: #131316;
border-radius: 50%;
  height: 64px;
  width: 64px;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg); 
  transform: rotate(180deg);

}

.order__ingredient__six {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg); 
  transform: rotate(180deg);
  height: 64px;
  padding: 22px;
  margin-right: -18px;
  color: white;
  background: url(../../images/six.png)no-repeat;
}

.order__price {

  font-family: 'Iceland', 'Arial', 'Helvetica', sans-serif;
  font-size: 28px;
  display: flex;
  align-self: center;
  line-height: 24px;
  color: #f2f2f3;
}

.order__price > span {
  display: block;
  padding-right: 9px;
}

.order__price > svg {
  display: block;
  width: 24px
}

.order__link {
  text-decoration: none;
  color: none;
}
