@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./components/main/main.module.css');
@import url('./components/app-header/app-header.module.css');
@import url('./components/burger-constructor/burger-constructor.module.css');
@import url('./components/burger-ingredients/burger-ingredients.module.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  height: 100vh;
  background: #131316;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Jetbrains', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}

form .input_size_default {
  width: 480px;
}

section .input_size_default {
  width: 480px;
}