
.ingredients__list::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 8px;
}

.ingredients__list::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.ingredients__list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 492px;
  background-color: #8585AD
}

.ingredients__list::-webkit-resizer {

  background-repeat: no-repeat;
  width: 4px;
  height: 0
}

.ingredients__list::-webkit-scrollbar {
  width: 8px;
  height: 664px
}

.ingredients__list {
  height: 656px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab__menu > div  {
  width: 33.3333%
}

.ingredients__title {
  font-size: 36px;
  line-height: 40px;
  font-family: 'Jetbrains-bold', 'Arial', sans-serif;
  padding: 40px 0 20px;
}

.bulka__section {
  width: 600px;
  padding-top: 40px;
  position: relative
}

.bulka__title {
font-size: 24px;
font-family: 'Jetbrains-bold','Arial', sans-serif;
}

.bulka__grid {
  display: grid;
  justify-content: center;
    grid-gap: 24px 56px;
    grid-template-columns: repeat(auto-fit,272px);
    grid-template-rows: repeat(auto-fit,minmax(208px,1fr))
}

.sous__section {
  composes: bulka__section
}

.sous__title {
  composes: bulka__title
}

.sous__grid {
  composes: bulka__grid
}

.kotleta__section {
  composes: bulka__section
}

.kotleta__title {
  composes: bulka__title
}

.kotleta__grid {
  composes: bulka__grid
}