.header {
  width: 100%;
  color: #8585AD;
  font-size: 16px;
}
.header__nav {
  margin: 0 auto;
  height: 88px;
  padding: 16px 0;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav__list_item:last-of-type {
  justify-self: flex-end;
  }

.nav__list_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__list_block {
  display: flex;
  align-items: center;
}

.nav__list_block > .nav__list_item:nth-child(2) {
  margin-left: 49px;
}

.logo {
  position: absolute;
  top: 19px;
  left: calc(50% - 145px);
}

@media screen and (max-width: 1270px) {
  /* .nav__list {
    justify-content: space-around;
  } */

  .nav__list_block {
    justify-content: space-around;
  }
  
}

